<%- include('partials/header') %>


    <section class="about-bg" id="about">
        <div class="about-text">
            <h2>About - PFC (Patna Fried Chicken)</h2>
            <p>How It All Started</p>
        </div>
    </section>

    <section id="goals-section">
        <div class="goals p-50 m-30 bg-red">
            <div class="goals-img">
                <img class="w-100" src="/img/store.jpg" alt="">
            </div>
            <div class="story">
                <h1 class="p-10 color-black">The Aim</h1>
                <hr>
                <p class="p-10">PFC is the acronym of <strong class="font-recursive"> Patna Fried Chicken And Pizza & Fried Chicken </strong>, is a Patna, Bihar
                    based Fried
                    Chicken Store. We opened the store to take a goal of making it a brand name of Bihar. It is a one
                    year old established Store has Seven stores in all over Patna town. PFC started <strong class="font-recursive">by Md Asif Ali </strong> who
                    made this store very famous among Patnaties very soon. Secret herbs and spices played important role
                    to make items delicious. Our intention is to make it a brand name and to soon popular it in all over
                    India, later on in all over the world. Our Crispy chicken home-delivery facility has helped us in
                    reaching to our customers. We provide fresh preparing delicious, outstanding taste of fried Chicken
                    items at affordable prices.</p>
            </div>
        </div>
        <div class="goals-opposite p-50 m-30 bg-red" style="justify-content: space-around;">
            <div class="story-opposite">
                <h1 class="p-10 color-black">
                    Our Franchisee</h1>
                <hr>
                <p class="p-10">
                    <div class="item">1. Bander Bagicha, Sri Niwas Path, Fraser Road Area, Patna <br>     </div>
                    <div class="item">2. Near Punch Mukhi Mandir, East Boring Canal Road, Patna <br></div>
                    <div class="item">3. Dewanrun Apprtment, Bhikhna Pahari, Patna <br></div>
                    <div class="item">4. Bishwanath Balajee Commercial Complex, Patna City, Patna <br></div>
                    <div class="item">5. Khanquah Market, Phulwari Sharif, Patna <br></div>
                    <div class="item">6. OP Market, Road No. 7C, Indrapuri, Patna <br></div>
                    <div class="item">7. Patliputra Colony OPENING SHOTLY</div>
                </p>
            </div>
            <div class="goals-opposite-img" >
                <img class="w-100 p-20" src="/img/franchisee.jpg" alt="">
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>
