<!DOCTYPE html>
<html lang="en">

<head class="grid-container">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PFC | patna fried chicken</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="utils.css">
    <!-- for h-primary font -->
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    <!-- for navbar font -->
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Recursive:wght@900&display=swap"
        rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

</head> 

<body>
    <header class="home-bg">
        <nav class="grid-container navbar">
            <!-- <img id="logo" src="logo.png" alt="ProFit.com"> -->
            <a href="/" class="text-deco-none"><h4 id="logo"> PFC </h4></a>
            <ul id="nav-menu">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#menu" class="nav-link">Menu</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>

        <section  id="banner-section">
            <div class="intro">
                <div class="order-info">
                    <h2>For Home Delivery Use  </h2>
                    <div class="order-brand">
               <a href="https://www.zomato.in/"> <h3 id="brand-zomato">zomato</h3></a>        
                        <!-- <img id="brand-zomato" src="zomato.png" alt=""> -->
                      <a href="https://www.swiggy.com/"><img style="width: 160%;" id="brand-swiggy" src="/img/logo/swiggy.png" alt=""></a>  
                    </div>
                </div>
                <div
                     class="img"> <img src="/img/pfc-img2.png" alt="">
                </div>
            </div>

        </section>
    </header>

    <section id="menu">
        <h2 class="p-20">Your dishes</h2>
        <div class="category">
            <div class="veg">
                <h4 class="p-20">VEG</h4>
                <hr>
                <div class="food">
                    <img src="/img/food.jpg" alt="">
                    <div class="description">
                        <h3>Burger</h3>
                        <p>price: ₹100</p>
                    </div>
                </div>
                <div class="food">
                    <img src="/img/food.jpg" alt="">
                    <div class="description">
                        <h3>Burger</h3>
                        <p>price: ₹100</p>
                    </div>
                </div>
                <div class="food">
                    <img src="/img/food.jpg" alt="">
                    <div class="description">
                        <h3>Burger</h3>
                        <p>price: ₹100</p>
                    </div>
                </div>
                <div class="food">
                    <img src="/img/food.jpg" alt="">
                    <div class="description">
                        <h3>Burger</h3>
                        <p>price: ₹100</p>
                    </div>
                </div>
                <div class="food">
                    <img src="/img/food.jpg" alt="">
                    <div class="description">
                        <h3>Burger</h3>
                        <p>price: ₹100</p>
                    </div>
                </div>
            </div>
            <div class="non-veg">
                <h4 class="p-20">NON-VEG</h4>
                <hr>
                <div class="food">
                    <img src="/img/food.jpg" alt="">
                    <div class="description">
                        <h3>Burger</h3>
                        <p>price: ₹100</p>
                    </div>
                </div>
                <div class="food">
                    <img src="/img/food.jpg" alt="">
                    <div class="description">
                        <h3>Burger</h3>
                        <p>price: ₹100</p>
                    </div>
                </div>
                <div class="food">
                    <img src="/img/food.jpg" alt="">
                    <div class="description">
                        <h3>Burger</h3>
                        <p>price: ₹100</p>
                    </div>
                </div>
                <div class="food">
                    <img src="/img/food.jpg" alt="">
                    <div class="description">
                        <h3>Burger</h3>
                        <p>price: ₹100</p>
                    </div>
                </div>
                <div class="food">
                    <img src="/img/food.jpg" alt="">
                    <div class="description">
                        <h3>Burger</h3>
                        <p>price: ₹100</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


<%- include ("partials/footer") %> 